---
---
<footer class="py-8 bg-honey-text text-center">
  <div class="container mx-auto w-full max-w-[1100px] px-5">
    <p class="text-honey-bg opacity-80">&copy; 2026 Your Name. All rights reserved.</p>
  </div>
</footer>
